[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/wbose/Downloads]
row=1
col=1

[/home/wbose/documents]
row=0
col=0

[/home/wbose/Pictures]
row=5
col=0

[/home/wbose/temp]
row=4
col=0

[/home/wbose/downloads]
row=0
col=1

